  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="left">
          <!-- link to dashboard -->
          <li><%= link_to "Dashboard", home_path %></li>
          <!-- options for projects -->
          <li class="has-dropdown">
            <%= link_to "Projects", projects_path %>
            <ul class="dropdown">
              <li><%= link_to "List Projects", projects_path %></li>
              <li><%= link_to "Add a Project", new_project_path %></li>
            </ul>
          </li>

          <!-- options for tasks -->
          <li class="has-dropdown">
            <%= link_to "Tasks", tasks_path %>
            <ul class="dropdown">
              <li><%= link_to "List Tasks", tasks_path %></li>
              <li><%= link_to "Add a Task", new_task_path %></li>
            </ul>
          </li>

          <!-- ADMIN ONLY OPTIONS -->
          <% if logged_in? && current_user.role == "admin" %>
            <li><%= link_to "Assignments", assignments_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Domains", domains_path %></li>
          <% end %>
        </ul>

        <% if logged_in? %>
          <ul class="right">
            <li class="has-dropdown">
            <%= link_to "Welcome, #{current_user.first_name}", user_path(current_user) %>
            <ul class="dropdown">
              <li><%= link_to "Edit settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Logout", logout_path %></li>
            </ul>
          </li>
        <% end %>
      </section>
    </nav>
  </div>