<div class="form-actions">
  <%= link_to(domains_path, class: 'button radius') do %>
    <i class="fa fa-list"></i>
    &nbsp;Display All Domains
  <% end %>
  &nbsp;&nbsp;
  <%= link_to(edit_domain_path(@domain), class: 'button radius') do %>
    <i class="fa fa-pencil"></i>
    &nbsp;<%= "Edit #{@domain.name}" %>
  <% end %>
  &nbsp;&nbsp;
  <%= link_to(project_path(@domain), method: 'delete', data: {confirm: "Are you sure you want to permanently delete #{@domain.name}"}, class: 'button radius alert') do %>
    <i class="fa fa-trash-o"></i>
    &nbsp;<%= "Delete #{@domain.name}" %>
  <% end %>
</div>