<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
			<th>End Date</th>
			<th class="centered">Assigned</th>
      <th class="centered">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @current_projects.each do |project| %>
			<% if can? :read, project %>
	      <tr>
	        <td><%= link_to project.name, project_path(project) %></td>
					<td><%= project.start_date.strftime("%b %d, %Y") %></td>
	        <td><%= project.end_date.nil? ? "TBD" : project.end_date.strftime("%B %d, %Y") %></td>
					<td class="centered"><%= project.assignments.active.size %></td>
	        <td>
						<%= link_to(new_assignment_path(id: project.id, source: 'project'), class: 'button tiny radius secondary') do %>
              <i class="fa fa-user"></i>
              &nbsp;Assign Person
            <% end %>
						<%= link_to(edit_project_path(project, status: 'end'), data: {confirm: "Are you sure you want to end the #{project.name} project today?"}, class: 'button tiny radius alert') do %>
              <i class="fa fa-times"></i>
              &nbsp;End Project
            <% end %>
					</td>
	      </tr>
			<% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @current_projects, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>	

